electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true

# 跳过原生模块的自动重新构建,避免对selection-hook的影响
prebuild-install=true
